---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>LONG LIVE TO BOCA AND ASTRO</h1>

    <img src="/images/nerviosa.jpg" alt="" />
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog">Blog</a>
  </body>
</html>
